<a href="https://colab.research.google.com/github/Fenti08/Teknologi-Data-3/blob/main/1841720117_6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
counter = 100   #integer value assignment
jarak = 104.5   #floating point value
name = "nina"   #the name vatiable stores a string value

#multiple assignment in one command line :
a = b = c = 200
name, city, salary = "Sabine", 'Surabaya', 70000

print(counter)
print(jarak)
print(name)
print(a, b, c)
print(city)

100
104.5
Sabine
200 200 200
Surabaya